- const icon = bot.user.avatarURL({ format: 'png'});
- const client = bot.user;
if(user)
    - const format = user.avatar.startsWith('a_') ? 'gif' : 'png';
    - const url = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.${format}?size=2048`;
    - avatar = url

link(rel="shortcut icon" href= icon)
meta(property="og:image" content= avatar)